#added secrets.js file to gitignore to hide credentials

# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

.DS_Store

# dotenv file, for api keys
.env
secrets.js
