header {
    text-align: left;
    h1 {
      color: #508db3;
      margin-left: 30rem;
    }
    h2 {
      font-weight: normal;
    }
  }
  main {
    .public-stats-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      @media (max-width: 637px) {
        grid-template-columns: 1fr;
      }
      .metric {
        background: gray;
        padding: 50px 0;
        border: 1px solid black;
      }
      p {
        margin-bottom: 0;
      }
    }
  }

  .paragraph{
    font-size: 20px;
  }