.team__header{
  margin: 60px 50px 50px 50px;
  color: #158FB4;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}

.team__section--middle{
  margin-bottom: 50px;
}

.team__impact{
  font-size: 30px;
  font-weight: bold;
  @media (max-width: 637px) {
    font-size: 26px;
  }
}
.team__charts{
  display: flex;
  justify-content: center;
  .team__pie{
    width: 400px;
    height: 300px;
    }
}

@media (max-width: 637px) {
  .public__visuals {
    margin-top: 60px;
  }
}