.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px;

  @media (max-width: 740px) {
    flex-direction: column;
    margin-bottom: 0;
  }
  @media (max-width: 450px) {
    background-color: #e5e4e2;
  }

  .copyright, .copyright__link, .footer__link {
    color: #aaa9ad;
    text-decoration: none;

    @media (max-width: 450px) {
      color: black;
    }
  }

  .copyright_link:hover, .footer__link:hover {
    color: black;
    text-decoration: underline;
  }
  .footer__menu {
    display: flex;
    width: 50%;
    justify-content: space-between;
  }

}