.nav {
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  align-items: center;
  .nav__btn {
    color: #212529;
    font-size: 18px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    margin: 0;
    padding: 0;
    outline: none;
  }
  .nav__btn:hover,
  .nav__btn:focus {
    text-decoration: underline;
  }
  .nav__menu {
    display: flex;
  }
  img.nav__avatar {
    border-radius: 50%;
    margin-right: 10px;
  }
}

.subNav__menu {
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;

  display: flex;
  justify-content: center;
  padding: 15px 0;
  .subNav__link {
    list-style-type: none;
    margin: 0 80px;

    color: #AAA9AD;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;

    @media (max-width: 637px) {
      margin: 0 15px;
    }
  }
  .subNav__link:hover{
      text-decoration: underline;
  }
  .subNav__link.active {
    color: #158fb4;
  }
}