nav {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  .btn {
    color: #508db3;
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    margin: 0;
    padding: 0;
    outline: none;
  }
  .btn:hover,
  .btn:focus {
    text-decoration: underline;
  }
}
.logged-in-nav {
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  li {
    list-style-type: none;
    margin: 0 80px;
    @media (max-width: 637px) {
      margin: 0 15px;
    }
    a {
      color: #aaa9ad;
      font-weight: bold;
      text-decoration: none;
    }
    a.active {
      color: #158fb4;
    }
  }
  ul {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}