.nav {
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  align-items: center;
  .nav__btn {
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    margin: 0;
    padding: 0;
    outline: none;
  }
  .nav__btn:hover,
  .nav__btn:focus {
    text-decoration: underline;
  }
  .nav__menu {
    display: flex;
    align-items: center;
    position: relative;
  }
  img.nav__avatar {
    border-radius: 50%;
    margin-right: 10px;
  }
  @media (max-width: 450px) {
    .nav__logo {
      width: 200px;
    }
  }
}

.subNav__menu {
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  @media (max-width: 450px) {
    padding: 10px 0;
  }
  .subNav__link {
    list-style-type: none;
    margin: 0 40px;
    color: #AAA9AD;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    @media (max-width: 637px) {
      margin: 4px 10px;
    }
    @media (max-width: 450px) {
      font-size: 15px;
    }
  }
  .subNav__link:hover{
      text-decoration: underline;
  }
  .subNav__link.active {
    color: #158fb4;
  }
}

.nav__menu.open img.nav_dropdownIconOpen {
  display: none;
}
.nav__menu.closed img.nav_dropdownIconClose {
  display: none;
}
img.nav_dropdownIconOpen,
img.nav_dropdownIconClose {
  width: 22px;
  height: 22px;
  margin-left: 15px;
  @media (max-width: 450px) {
    margin-left: 0;
  }
  z-index: 3;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
.nav__loggedInDropdown {
  display: none;
  &.open {
    display: block;
  }
  width: 175px;
  position: absolute;
  right: 10px;
  top: 18px;
  background-color: #ffffff;
  border: 1px solid rgb(211, 211, 211);
  box-shadow: 0 0 5px rgba(212, 212, 212, 0.288);
  ul {
    margin: 0;
    padding: 5px 20px;
  }
  li {
    list-style-type: none;
    text-align: left;
    padding: 8px 0;
    a {
      font-size: 16px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    a, button {
      color: #158fb4;
    }
    &:last-child {
      border-top: 1px solid rgb(212, 212, 212);
    }
  }
}