///brought over scss styles to test personal dash
header {
  text-align: left;
  h1 {
    color: #508db3;
  }
  h2 {
    color: #6db9d0;
    font-weight: 700;
    margin-left: 20rem;
  }
}
main {
  display: flex;
  
  .card1{
    border: 1px solid black;
    height: 15rem;
    width: 25rem;
    margin-right:1rem;
    display: flex;
    .right{
        background-color: #158fb4;
        border:1px solid black;
        width: 7rem;
      }
  }

  .card2{
    border: 1px solid black;
    height: 15rem;
    width: 25rem;
    margin-right:1rem;
    display: flex;
    .right{
      background-color: #158fb4;
      border:1px solid black;
      width: 7rem;
    }
  }

  .card3{
    border: 1px solid black;
    height: 15rem;
    width: 25rem;
    margin-right:1rem;
    display: flex;
    .right{
      background-color: #158fb4;
      border:1px solid black;
      width: 7rem;
    }
  }
}